.wrapper {
  margin-top: 50px;
  text-align: center;

  h1 {
    color: green;
  }

  button {
    display: flex;
    border-radius: 180px;
    // border: none;
    box-shadow: 20px;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    background-color: honeydew;
  }
  p {
    text-align: center;
    display: inline-block;
  }
}
